<div id="<%= dom_id property %>">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.privateproperty.com.ng/news/wp-content/uploads/2023/05/Difference-Between-a-Mini-Flat-and-Self-Contained.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= property.property_name %></h5>
    <p class="card-text "><small>No of Rooms Available</small></p>
    <p class="card-text"><%= property.description %></p>
    <p class="card-text"><small><%= property.property_type %></small></p>
    <h5 class="card-text bottom"><small><%= property.rent_amount %></small></h5><a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<% property.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [250, 250]) %>
<% end %>

</div>
