<div id="<%= dom_id property %>">
  <p>
    <strong>Landlord:</strong>
    <%= property.landlord_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Rent amount:</strong>
    <%= property.rent_amount %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

</div>
