<h1>New Property</h1>

<%= form_with model: @property, html: { multipart: true } do |form| %>
  <% if @property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% @property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :landlord_id, value: current_user.id %>

  <div>
    <%= form.label :property_name, style: "display: block" %>
    <%= form.text_field :property_name %>
  </div>

  <!-- Add latitude and longitude fields -->
  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.number_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.number_field :longitude %>
  </div>

  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>

  <!-- Add city, state, and area fields -->
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :area, style: "display: block" %>
    <%= form.text_field :area %>
  </div>

  <div>
    <%= form.label :rent_amount, style: "display: block" %>
    <%= form.text_field :rent_amount %>
  </div>

  <div>
    <%= form.label :property_type, style: "display: block" %>
    <%= form.text_field :property_type %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :images, 'Images (multiple)', style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <fieldset id="room-types-container">
    <legend>Room Types</legend>
    
    <div class="room-type-fields">
      <div class="field">
        <%= form.label :room_type, "Room Type" %>
        <%= form.text_field :room_type %>
      </div>

      <div class="field">
        <%= form.label :number_of_rooms, 'Number of Rooms (max: 64)', style: "display: block" %>
        <%= form.number_field :number_of_rooms, id: 'rooms' %>
      </div>

    </div>
  </fieldset>

  <button type="button" id="add-room-type-button">Add Room Type</button>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to properties", properties_path %>
</div>


<script>

document.addEventListener('DOMContentLoaded', function() {
  var roomTypeCount = 1;

  var addRoomTypeButton = document.getElementById('add-room-type-button');
  var roomTypesContainer = document.getElementById('room-types-container');

  addRoomTypeButton.addEventListener('click', function() {
    var newRoomTypeField = document.createElement('div');
    newRoomTypeField.className = 'room-type-fields';

    newRoomTypeField.innerHTML = `
      <div class="field">
        <label for="property_room_types_attributes_${roomTypeCount}_name">Room Type</label>
        <input type="text" name="property[room_types_attributes][${roomTypeCount}][name]" data-turbo-frame-ancestor="#property_form">
      </div>
      <div class="field">
        <label for="property_room_types_attributes_${roomTypeCount}_number_of_rooms">Number of Rooms (max: 64)</label>
        <input type="number" name="property[room_types_attributes][${roomTypeCount}][number_of_rooms]" data-turbo-frame-ancestor="#property_form">
      </div>
    `;



    roomTypesContainer.appendChild(newRoomTypeField);
    roomTypeCount++;
  });
});


</script>