<h1>New Property</h1>

<%= form_with model: @property do |form| %>
  <% if @property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% @property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :landlord_id, value: current_user.id %>

  <div>
    <%= form.label :property_name, style: "display: block" %>
    <%= form.text_field :property_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :rent_amount, style: "display: block" %>
    <%= form.text_field :rent_amount %>
  </div>

  <div>
    <%= form.label :property_type, style: "display: block" %>
    <%= form.text_field :property_type %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :number_of_rooms, 'Number of Rooms (max: 64)', style: "display: block" %>
    <%= form.number_field :number_of_rooms, id: 'rooms' %>
  </div>

  <div class="field">
    <%= form.label :room_type, style: "display: block" %>
    <%= form.text_field :room_type %>
  </div>

  <div>
    <%= form.label :images, 'Images (multiple)', style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to properties", properties_path %>
</div>
