<p style="color: green"><%= notice %></p>

<%= render @property %>

<% @property.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
<% end %>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>

  <%= button_to "Destroy this property", @property, method: :delete %>
</div>
