<p style="color: green"><%= notice %></p>

<%= render @property %>

<% @property.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [500, 500]) %>
<% end %>

<h2>Rooms:</h2>
<ul>
  <% if @rooms.any? %>
  <% @rooms_by_type.each do |room| %>
    <li>
      Room Type: <%= room.room_type %> <br>
      Number of rooms Available: <%= room.count %><br>
      Rent Amount: <%= room.rent_amount %><br>
      <!-- Display other room details here -->
    </li>
  <% end %>
  <% else %>
    <li>No roooms yet</li>
  <% end %>
</ul>

<div>

<%= link_to "Edit Rooms", property_rooms_path(@property) %>


  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>

  <%= button_to "Destroy this property", @property, method: :delete %>
</div>
