<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="inner-con container-fluid">
    <%= link_to properties_path, class:'navbar-brand' do %>
      <div class='logo'>Land<span class='cursive'>lrd</span></div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to properties_path, class: 'nav-link' do %>
          <i class="fas fa-search"></i> Explore
        <% end %>
      </li>
      <hr>
      <% if user_signed_in? %>
        <li class="nav-item ttr">
          <%= link_to users_profile_path, class: 'nav-link' do %>
            <i class="fas fa-user"></i> Profile
          <% end %>
        </li>
        <hr>
        <li class="nav-item ttr">
          <%= link_to rentals_path, class: 'nav-link' do %>
            <i class="fas fa-home"></i> My Rentals
          <% end %>
        </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:'btn btn-outline-danger text-cen' %>

      <% else %>
        
        <%= link_to "Sign in", new_user_session_path, class:'btn btn-outline-primary' %>
        <div class="vr mx-2 mr-2"></div>
        <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-outline-success' %>

      <% end %>
      
    </div>
  </div>
</nav>


<style> 

  .logo {
    font-family: Raleway;
    font-weight: 400;
    color: black;
    letter_spacing: 1rem;
    font-size: 1.8rem;
  }

  .cursive {
    font-family: cursive;
    color: rgb(1,132,63);
    letter_spacing: 5rem;
  }

  .navbar-brand:hover .cursive {
    transform: scale(1.2);
  }

  .cursive:hover {
    transform: scale(1.2);
  }

  .fas {
    margin-right:.3rem;
  }

ul {
    text-align:center;
}

hr {
  margin: 0.2rem 0;
}

.text-cen {
    text-align:center;

}


  @media (min-width:990px ){
    .inner-con{
  margin: 0 8rem
  }
      .ttr {
    margin-left: 1rem;
    }
  }

</style>