<h1 class='rental-heading'>My Rentals</h1>

<% if @rentals.present? %>

<% @rentals.each_with_index do |rental, index| %>

  <div class="card">
    <div class="card-body">
      <p class="card-text">Property Name: <strong><%= rental.room.property.property_name %></strong></p>
      <h5 class="card-title"><strong>ROOM #<%= rental.room.room_number %> - <%= rental.room.room_type %></strong><%= link_to " ", rental_path(rental), class: 'stretched-link' %></h5>
      <div class='lease-wrapper'>
        <p class="card-text">Rent: <strong>&#8358;<%= rental.room.rent_amount.to_i / 1000 %>K</strong></p>
        <% if rental.rent_date %>
          <p class="card-text">Days Left: <strong><%= (rental.rent_date.to_date - Date.current).to_i %> days</strong></p>
        <% else %>
          <p class="card-text">Rent Date Not Set</p>
        <% end %>
      </div>
    </div>
  </div>
    
<% end %>

<% else %>
<div class='card-con'>

<h3>You have no rentals.</h3>
<%= link_to 'Explore Properties', properties_path, class: 'btn btn-primary' %>
</div>
<% end %>


<style>

  .rental-heading {
    text-align:center;
    padding: 1rem;
    color:
  }

  .card{
    margin-bottom: 1rem;
  }

  p {
    font-size: .7rem;
    margin: 0;
  }

  h5 {
    font-size: 1rem;
  }

  .card-body {
    margin:.2rem;
    padding: .2rem 1rem;
  }

  .card-body > * {
    padding:0.1rem;
    margin:0.2rem;
  }

  .lease-wrapper {

    display: flex;
    justify-content: space-between;
  }

  .card-con {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-contents: center;

    width:100%;
    background-color:white;
    padding: 14rem 0;
    border-radius: 1rem;
  }


</style>
