<%= form_with(model: @room, local: true) do |form| %>
  <div class="field">
    <%= form.label :room_number %>
    <%= form.number_field :room_number %>
  </div>
  
  <div class="field">
    <%= form.label :rent_amount %>
    <%= form.text_field :rent_amount %>
  </div>
  
  <div class="field">
    <%= form.label :room_type %>
    <%= form.text_field :room_type %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Update Room' %>
  </div>
<% end %>

<%= link_to 'Back', property_path(@room.property) %>
