<div class="mt-3">
  <h2>Rooms of Type: <%= @room_type %></h2>

  <% @rooms.each do |room| %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text mb-1"><strong>Room Number:</strong> <%= room.room_number %></p>
        <p class="card-text mb-1"><strong>Rent Amount:</strong> &#8358;<%= room.rent_amount.to_i / 1000 %>K</p>
        <p class="card-text mb-1"><strong>Status:</strong> <%= room.rental_status %></p>
        <% if room.rental_status != 'Rented' %>
          <%= link_to "Make Payment", payments_initialize_path(room_id: room.id), class: "btn btn-primary btn-sm mt-2" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Back to Property", property_path(@property), class: "btn btn-secondary mt-2 text-cen" %>


<style>
  .text-cen {
    text-align: center;
  }
</style>