<!-- app/views/rooms/by_type.html.erb -->
<h2>Rooms of Type: <%= @room_type %></h2>

<ul>
  <% @rooms.each do |room| %>
    <li>
      Room Number: <%= room.room_number %> <br>
      Rent Amount: <%= room.rent_amount %><br>
      Status: <%= room.payment_status %>
      <% if room.payment_status != 'paid' %>
        <%= link_to "Make Payment", payments_initialize_path(room_id: room.id), class: "btn btn-primary" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Property", property_path(@property) %>
