<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Properties", properties_path %></li>
    <li class="breadcrumb-item"><%= link_to @property.area, properties_path(area: @property.area) %></li>
    <li class="breadcrumb-item"><%= link_to  @property.property_name, property_path(@property) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @room_type %></li>
  </ol>
</nav>
<div class='center'>  
  <h2>Rooms of Type: <%= @room_type %></h2>

  <section class='container-rooms'>
  <% @rooms.each do |room| %>
    <div class="card mb-3 align-self <%= room.rental_status == 'Available' ? 'card-available' : 'card-rented' %>">
      <div class="card-body">
        <p class="card-text mb-1"><small>Room:</small> <span class='room-no'><%= room.room_number %></span></p>
        <p class="card-text mb-1">Rent:<strong> &#8358;<%= room.rent_amount.to_i / 1000 %>K</strong></p>
        <p class="card-text mb-1 ">
        Status:<span class='<%= room.rental_status == 'Available' ? 'room-available' : 'room-rented' %>' > <%= room.rental_status %></span></p>
        <% if room.rental_status == 'Available' %>
          <%= link_to "Book Room", payments_initialize_path(room_id: room.id), class: "btn btn-success btn-sm mt-2" %>
        <% elsif room.rental_status == 'Rented' %>
          <button type="button" class="btn btn-secondary disabled">Room Rented</button>
        <% end %>
      </div>
    </div>
  <% end %>



</section>

<%= link_to "Back to Property", property_path(@property), class: "btn btn-outline-secondary mt-2 text-cen" %>

</div>

<style>

  .breadcrumb-item > a {
      color: rgb(1,132,63);
      text-decoration: none;
  }

  .center {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .container-rooms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
  }

  .room-no {
    font-size: 1.5rem;
    font-family: Raleway
  }

  .card-available {
    background-color: rgb(1,132,63,.1);
  }

  .card-rented {
    background-color: rgb(237,69,126, 0.1);
  }

  h2 {
    text-align:center;
    padding: 1rem;
    margin:0;
  }

  .room-available {
  color: green;
  font-weight: bold;
}

/* CSS styles for rented rooms */
.room-rented {
  color: red;
  font-weight: bold;
}
.text-cen {
  test-align: center;
}
</style>